body {
    background: #1C1C1C;
    font-family: 'Inter', sans-serif;
}

.BusinessCard {
    background: #23252C;
    height: 868px;
    width: 550px;
    margin: auto;
}

.Image {
    height: 317px;
    width: 317px;
    margin: auto;
    padding-top: 44px;
    border-radius: 50px 50px 0px 0px;
}

.Image > img {
    height: 317px;
    width: 317px;
    border-radius: 10px 10px 0px 0px;
}

.Header {
    background: #1A1B21;
    width: 317px;
    height: 399px;
    margin: auto;
}

h3 {
    margin: 0;
    text-align: center;
    font-size: 25px;
    padding-top: 21px;
    color: white;
    font-weight: 700;
}

.JobRole {
    color: #F3BF99;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding-top: 6px;
;
}

.Email {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.EmailButton {
    width: 247px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin: auto;

}

.EmailButton > p {
    margin: 0;
    font-size: 16px;
    padding-left: 10px;
}

main {
    margin: 0;
    padding-left: 35px;
    color: white;
}

.About {
    margin: 0;
    padding-top: 32px;
    font-size: 16px;
}

.Interests {
    margin: 0;
    padding-top: 27px;
}

main > p{
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    padding-top: 5px;
    padding-right: 35px;
    line-height: 150%;
}

footer {
    width: 317px;
    height: 64px;
    margin: auto;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-evenly;
}

footer > i{
    margin: auto;
    color: #918E9B;
}